<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/<%= iduser %>/shipping/add" method="post">
        <div>
            <label for="">origin</label>
            <input type="text" name="origin" id="">
        </div>
        <div>
            <label for="">destination</label>
            <input type="text" name="destination" id="">
        </div>
        <div>
            <input type="submit" value="Add Shipping">
        </div>
    </form>
</body>
</html>