<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    img {
        width: 100%;
      }
</head>
<body>
<div>
    <img src="https://www.namecheap.com/logo-maker/app/share?c=fontAboveSlogan&l=dd14b750-5e49-11ee-a4df-53ed0e2fd25a" style="width:128px;height:128px;">

</div>
    <a href="/register">Register</a>
        <a href="/login">Login</a>
</body>
</html>